$showcase-item-border-color: #EEE;
$showcase-item-border: 1px solid $showcase-item-border-color;

$showcase-favorite-item-background-color: #FFF;
$showcase-favorite-item-border-color: #EEE;
$showcase-favorite-item-border: 1px solid $showcase-favorite-item-border-color;


$showcase-links-color: #fff;
$showcase-links-background-color: #B8602F;

h1 {
  font-size: 1.8em;

  &.post-title {
    margin-bottom: 20px;
  }
}

.site-footer {
  .copyright {
    font-size: 0.8em;
  }
  .thanks {
    font-size: 0.6em;
  }
}


p.intro {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px 20px;
}



.showcase-list {
  list-style-type: none;
  padding-left: 0px;

  .showcase-item {
    border-bottom: $showcase-item-border;
    padding: 40px 20px;

    &.favorite {
      background-color: $showcase-favorite-item-background-color;
      border: $showcase-favorite-item-border;
      border-radius: 8px;

      &:last-child {
        border: $showcase-favorite-item-border;
      }
    }

    &:first-child {
        /*border-top: $showcase-item-border;*/
    }
    &:last-child {
        border-bottom: none;
    }

    h3.title {
      margin-bottom: 0.1rem;
      font-size: 1.2em;
      font-weight: bold;
      /*font-style: italic;*/
    }

    .event-info {
      margin-bottom: 1rem;
      font-size: .6em;
      /*font-style: italic;*/
      a {
        color: #555;
        text-decoration: underline;
      }
    }

    .description {
      /*background-color: red;*/
      /*margin-bottom: 20px;*/
      font-size: .8em;
    }

    .links {
      margin-bottom: 0px;
      font-size: .7em;

      a {
        padding: 10px;
        border-radius: 8px;
        text-decoration: none;


        background-color: $showcase-links-color;
        color: $showcase-links-background-color;
        border: 1px solid $showcase-links-background-color;


        &:hover {
          text-decoration: none;

          color: $showcase-links-color;
          background-color: $showcase-links-background-color;
          border: 1px solid $showcase-links-background-color;
        }
      }
    }
  }
}
